.row > div{
    
    
    margin-top: 10px;
    
}
body{
    background-color: black;
}
img{
    
    opacity: 40%;
    
}
#im{
    margin-top: 20px;
}


p{
    font-size: xx-large;
}